@page
@model HilleredSailors.Pages.Tools.ReturnToolsModel
@{
    ViewData["Title"] = "ReturnTools";
}

<h1>Return Tools & Equipment</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        <label asp-for="@Model.Equipment.Id" class="control-label"></label>
        <input asp-for="@Model.Equipment.Id" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Equipment.Name" class="control-label"></label>
        <input asp-for="@Model.Equipment.Name" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Equipment.Name" class="control-label"></label>
        <input asp-for="@Model.Equipment.Name" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Equipment.Status" class="control-label"></label>
        <input asp-for="@Model.Equipment.Status" class="form-control" />
    </div>

    <div class="formgroup">
        <input type="submit" value="Return" class="btn btn-primary" />
    </div>
</form>