@page
@using BoatLibrary.Objects;
@model HilleredSailors.Pages.Tools.ShowToolsModel
@{
    ViewData["Title"] = "ShowTools";
}

<h1>Equipment & Tools</h1>

<a href="AddTools">Add Equipment</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Ledig?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Equipment equipment in Model.Equipment)
        {
            <tr>
                <td>@equipment.Id</td>
                <td>@equipment.Name</td>
                <td>@equipment.Description</td>
                <td>@equipment.Status</td>
                <td><a asp-page="BorrowTools" asp-route-id="@equipment.Id">Borrow</a></td>
                <td><a asp-page="ReturnTools" asp-route-itemid="@equipment.Id">Return</a></td>
                <td><a asp-page="DeleteTools" asp-route-id="@equipment.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>