@page
@using BoatLibrary.Objects;
@model HilleredSailors.Pages.Bookings.ShowBookingsModel
@{
    ViewData["Title"] = "ShowBookings";
}

<h1>Bookings</h1>

<p>
    <a asp-page="Booking">Book a boat</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Member</th>
            <th>Boat</th>
            <th>Start time</th>
            <th>End time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Booking item in Model.Bookings)
        {
            <tr>
                <td>@item.Booker.Name</td>
                <td>@item.Boat.SailNumber</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
                <td><a asp-page="EditBooking" asp-route-editBookingstart="@item">Edit</a></td>
                <td><a asp-page="DeleteBooking" asp-route-deleteBoat="@item">Delete</a></td>
                @* <td><a asp-page="DeleteCustomer" asp-route-deleteId="@item.Id">Delete</a></td> *@
            </tr>
        }
    </tbody>
</table>
