@page
@model HilleredSailors.Pages.member.MemberPAgeModel
@{
    ViewData["Title"] = "MemberPAge"; 
}
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        <label asp-for="@Model.Member.Name" class="control-label"></label>
        <input asp-for="@Model.Member.Name" class="form-control" readonly="@Model.edit" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Member.Phone" class="control-label"></label>
        <input asp-for="@Model.Member.Phone" class="form-control" readonly="@Model.edit" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Member.Email" class="control-label"></label>
        <input asp-for="@Model.Member.Email" class="form-control" readonly="@Model.edit" />
    </div>

    @if (Model.edit)
    {
        <input type="submit" value="Edit" asp-page-handler="WannaEdit" class="btn btn-primary" />
        
    }
    else
    {
        <div class="formgroup">
            <input type="submit" value="Finish" asp-page-handler="FinnishEdit" class="btn btn-primary" />
        </div>
    }
    <div class="formgroup">
        <input type="submit" value="Log Out" asp-page-handler="LogOut" class="btn btn-primary" />
    </div>

    
</form>




