@page
@using BoatLibrary.Objects;
@model HilleredSailors.Pages.member.ShowMembersModel
@{
    ViewData["Title"] = "ShowMembers";
}

<h1>Members</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (IMember item in Model.Members)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Type</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td><a asp-page="EditMember" asp-route-editBoat="@item.Id">Edit</a></td>
                <td><a asp-page="DeleteMember" asp-route-deleteBoat="@item.Id">Delete</a></td>
                @* <td><a asp-page="DeleteCustomer" asp-route-deleteId="@item.Id">Delete</a></td> *@
            </tr>
        }
    </tbody>
</table>
