@page
@using BoatLibrary.Objects;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Member</th>
            <th>Boat</th>
            <th>Start time</th>
            <th>End time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Booking item in Model.BookingList)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Booker.Name</td>
                <td>@item.Boat.SailNumber</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
                <td>
                    <div class="formgroup">
                        <form method="post">
                            @if(!item.Returned && DateTime.Now > item.EndTime)
                            {
                                <input type="submit" asp-route-id="@item.Id" value="Returned" class="btn btn-danger" />
                            }
                            else
                            {
                                <input type="submit" asp-route-id="@item.Id" value="Returned" class="btn btn-primary" />
                            }
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
