@page
@using BoatLibrary.Objects;
@model HilleredSailors.Pages.Events.RegisterForEventsModel
@{
    ViewData["Title"] = "RegisterForeEvents";
}
@foreach (Event item in Model.eventRepo.GetAll())
{
    <h1>@item.header</h1>
    <h2>@item.Date</h2>
    @item.Description;


    <form method="post" asp-page-handler="AddMember">
        <label>Members</label>
        <select id="MemberId" name="MemberId"
                asp-for="@Model.MemberID"
                asp-items="@Model.memberList">
        </select>
        <br />
        <input type="submit" value="AddMember" />
        <br />
    </form>

    <form method="post" asp-route-i="" asp-page-handler="Finnish">
        <input type="submit" name="Finnish" value="@item.Date.ToString()" />
    </form>
}
