@page
@model HilleredSailors.Pages.Boats.ShowBoatsModel
@{
}
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="@Model.StartTime" class="control-label"></label>
        <input asp-for="@Model.StartTime" class="form-control" required="true"/>
    </div>
    <div class="form-group">
        <label asp-for="@Model.EndTime" class="control-label"></label>
        <input asp-for="@Model.EndTime" class="form-control" required="true"/>
    </div>
    <p></p>
    <div class="formgroup">
        <input type="submit" value="Find available" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Model</th>
            <th>Name</th>
            <th>SailNumber</th>
            <th>MortorInfo</th>
            <th>Length</th>
            <th>Width</th>
            <th>Log</th>

        </tr>
    </thead>
    <tbody>
        @foreach (IBoat item in Model.BoatList)
        {
            <tr>
                <td>@item.Model</td>
                <td>@item.Name</td>
                <td>@item.SailNumber</td>
                <td>@item.MotorInfo</td>
                <td>@item.Length</td>
                <td>@item.Width</td>
                <td><a asp-page="EditBoat" asp-route-editSN="@item.SailNumber">Edit</a></td>
                <td><a asp-page="DeleteBoat" asp-route-deleteSN="@item.SailNumber">Delete</a></td>
                <td><a asp-page="/Bookings/MakeBooking" 
                    asp-route-startTime="@Model.StartTime.ToString()" 
                    asp-route-sailNumber="@item.SailNumber" 
                    asp-route-endTime="@Model.EndTime.ToString()">Book</a></td>
                <td><a asp-page="ShowLog" asp-route-showSN="@item.SailNumber">Show Log</a></td>
            </tr>
        }
    </tbody>
</table>
