@page
@model HilleredSailors.Pages.Boats.AddToLogModel
@{
}

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="@Model.SailNumber" class="control-label"></label>
        <input asp-for="@Model.SailNumber" class="form-control" readonly="true" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewLogLine" class="control-label"></label>
        <input asp-for="@Model.NewLogLine" class="form-control" required="true" />
    </div>
    <p></p>
    <div class="formgroup">
        <input type="submit" value="Add to log" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Log</th>
        </tr>
    </thead>
    <tbody>
        @foreach (String s in Model.LogMessages)
        {
            <tr>
                <td>@s</td>
            </tr>
        }
    </tbody>
</table>
